<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ResultPublisher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    
    <!-- Settings to publish to a custom TFS work item -->
    <add key="TeamFoundationServerUserGroup" value="Team Foundation Valid Users"/>
    <add key="ExecutionStatusField" value="stax.ExecutionStatus"/>
    <add key="ExecutionEnvironmentField" value=""/>
    <add key="ExecutionTimeField" value="stax.ExecutionDate"/>
    <add key="ExecutedByField" value="stax.ExecutedBy"/>
    <add key="ExecutedInBuild" value="stax.VerifiedInBuild"/>
    <add key="ExecutionCommentField" value=""/>

    <!-- Settings to publish to HPQuality Centre -->
    <add key="MercuryServer" value=""/>
    <add key="MercuryDomain" value=""/>
    <add key="MercuryProject" value=""/>

  </appSettings>
</configuration>