<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="WatiN.Core" publicKeyToken="DB7CFD3ACB5AD44E" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.20.0" newVersion="2.0.20.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
