<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
    <!-- 
    <add key="TFSServer" value="http://icmstfs:8080"/>
		<add key="TFSProject" value="ICMS"/>
		<add key="WorkItemType" value="ICMSTestCase"/>
		<add key="DefaultQuery" value="SELECT [System.Id], [System.Title], [System.State] FROM WorkItems WHERE [System.TeamProject] = @project  AND  [System.WorkItemType] = 'ICMSTestCase'  AND  [Microsoft.SDC.TestType] = 'Iteration Regression'  AND  [System.State] &lt;&gt; 'Obsolete' ORDER BY [System.Id]"/>
		<add key="OutputFolder" value=""/>	
    
    -->
    <add key="TFSServer" value="http://treatytfs:8080"/>
    <add key="TFSProject" value="Treaty"/>
    <add key="WorkItemType" value="Test Case"/>
    <add key="DescriptionField" value="Description2"/>
    <add key="DefaultQuery" value="SELECT [System.Id], [System.Title], [System.State] FROM WorkItems WHERE [System.TeamProject] = @project  AND  [System.WorkItemType] = 'Test Case'  AND  [System.State] &lt;&gt; 'Obsolete' ORDER BY [System.Id]"/>
    <add key="OutputFolder" value=""/>
    <add key="AlternateDescriptionFieldName" value="Description2"/>
    
  </appSettings>
</configuration>