<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection,Subsonic"/>
    <sectionGroup name="NUnit">
      <section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  
</configSections>
  <appSettings>
    <!--    <add key="BaseURL" value="http://10.37.129.2/~bruce/parkcalc/"/> -->
 <add key="BaseURL" value="http://testing-stax.org/parkcalc/"/> 
    <add key="EnableSupportForAjaxControlToolkit" value="false"/>
    <add key="EnableSupportForJQueryAjaxControls"  value="true"/>
    <add key="EnableCSSControlLookupsUsingJQuery" value ="true"/>
    <add key="InjectJQueryIfReqired" value="true" />
    <add key="UseWin32Impersonation" value="false"/>
    <add key="GlobalIETimeout" value="20000"/>
    <add key="MaximizeBrowser" value="false"/>
    <add key="Environment" value="Testing"/>
    <add key="Version" value="V3"/>
    
    <!-- Application specific configurations -->
    <add key="ApplicationPath" value="C:\WINDOWS\system32\notepad.exe"/>
    <add key="GlobalTimeout" value="20000"/>
    <add key="MaximizeApplication" value="false"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    
  </appSettings>
  <connectionStrings>
    <add name="FunctionalTestData" connectionString="Data Source=localhost;Initial Catalog=ParkcalcAutomationTestDatabase;Integrated Security=True" providerName="System.Data.SqlClient"/> 
  </connectionStrings>
  <SubSonicService defaultProvider="FunctionalTestData">
    <providers>
      <clear/>
      <add name="FunctionalTestData" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="FunctionalTestData" generatedNamespace="Data.FunctionalTestData"/>
    </providers>
  </SubSonicService>
  <NUnit>
    <TestRunner>
      <!-- Valid values are STA, MTA. Others are ignored. -->
      <add key="ApartmentState" value="STA"/>
    </TestRunner>
  </NUnit>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
