<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
    <add key="TFSServer" value="http://tfs:8080"/>
    <add key="TFSProject" value="Treaty"/>
    <add key="WorkItemType" value="Test Case"/>
    <add key="DescriptionField" value="Description"/>
    <add key="DefaultQuery" value="SELECT [System.Id], [System.Title], [System.State] FROM WorkItems WHERE [System.TeamProject] = @project  AND  [System.WorkItemType] = 'Test Case'  AND  [System.State] &lt;&gt; 'Obsolete' ORDER BY [System.Id]"/>
    <add key="OutputFolder" value=""/>
  </appSettings>
</configuration>